
<div><a href="/#/threads">
    <h1>{{thread.username}}: <em>{{thread.title}}</em></h1></a>
  <form name="newCommentForm">
    <input type="text" ng-model="username" placeholder="Username..." required="required"/>
    <input type="text" ng-model="newCommentText" placeholder="Write a comment..." required="required"/>
    <button ng-disabled="newCommentForm.$invalid" ng-click="createComment(username, newCommentText)">Add Comment</button>
  </form>
  <ul>
    <li ng-repeat="comment in comments">{{comment.username}}: {{comment.text}}</li>
  </ul>
</div>